bin/**/*

.DS_Store
.redcar/
.project
.settings
gitvdiff.bat

#env/dev/dev.db

lib/test?.rb
lib/test*.rb

log/*.log
log/*.pid
tmp/**/*

thin/development_config.yml

lib/sinatra/*.log
lib/sinatra/dist
lib/sinatra/book
lib/sinatra/doc/api
lib/sinatra/doc/*.html