<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="com.areteinc.action.actionSet">
         <menu
               label="&amp;Util"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="com.areteinc.action.actions.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               id="com.areteinc.action.actions.SampleAction">
         </action>
         <action
               class="com.areteinc.action.CreateBranchAction"
               id="com.areteinc.action.CreateBranchAction"
               label="Create Branch"
               menubarPath="sampleMenu/sampleGroup"
               style="push"
               tooltip="Git - Create Branch for All Projects">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.areteinc.action.Handler1"
            id="com.areteinc.action.command1"
            name="SampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="com.areteinc.action.command1"
               label="My Command"
               style="push"
               tooltip="My Command Tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.areteinc.preference.PreferencePage"
            id="com.areteinc.preference.PreferencePage"
            name="PreferencePage">
      </page>
   </extension>

</plugin>
